---
interface Props {
    icon?: string;
    text?: string;
    link?: string;
    darker?: string;
    light?: string
}
const { icon, text, link, darker, light } = Astro.props;
---

<a href={link} target="_blank">
    <div class="main">
        <p>
            <i class={icon}></i> {text}
        </p>
    </div>
</a>

<style define:vars={{ darker, light }}>
    a {
        display: inline-block;

        width: max-content;
        height: max-content;

        margin: 2px;

        transition: filter 0.1s ease-out;
        text-decoration: none;
        color: #fff;
    }
    a:hover {
        filter: brightness(120%);
        color: #fff;
        text-decoration: none;

        transition: filter 0.1s ease-out;
    }
    p {
        margin: 0;
        padding: 16px 24px;
        color: #fff;
        text-decoration: none;
    }
    p:hover {
        text-decoration: none;
    }
    .main {
        border-radius: 8px;
        border: 1px white solid;
        background: radial-gradient(at top right, var(--light), var(--darker));

        width: max-content;
        height: max-content;

        margin: auto;

        box-shadow: #000 0 0 8px;
    }
</style>