---
---

<footer>
    <div class="main">
        <p>
            anisé, a discord bot created by skuqre. more projects at <a href="https://skuqre.github.io">skuqre.github.io</a>
        </p>
    </div>
</footer>

<style>
    footer {
        margin-top: 128px;
        width: 100%;
        height: 4rem;
    }

    .main {
        width: 100%;
        height: 100%;
        display: flex;

        align-items: center;
        align-content: center;

        background-color: var(--darkerer);
    }

    .main p {
        text-align: center;
        color: darkgray;
        width: 100%;
    }
</style>