---
---

<div class="navbar">
  <h1><img src='logo.svg' alt='Anisé'/>Anisé</h1>
  <!-- <a href="">Home</a> -->
  <a href="">Commands</a>
  <a href="">Attributions</a>
</div>

<style>
  .navbar {
    width: 100%;
    height: fit-content;
    background-color: rgba(21, 21, 21, 0.9);
    margin: 0;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;

    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);

    z-index: 10;
  }

  .navbar a {
    display: flexbox;

    text-align: center;
    text-decoration: none;
    padding: 16px 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: gray;
    position: static;

    width: 100%;
    max-width: 150px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  .navbar a:hover,
  .navbar a:focus {
    background-color: #f4d2591f;
    color: white;
    box-shadow: 0 -4px 0 #ffdb5a inset;

    transition-property: color, background-color, box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  .navbar h1 {
    color: white;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;

    max-width: 200px;
  }

  .navbar h1 img {
    /* display: inline-block; */
    max-height: 48px;

  }
</style>
